{% extends 'base.html' %}

{% block section_title %}{% endblock %}

{% block content %}
    <div class="mb-4 col-12 d-flex overflow-hidden overflow-x-auto text-nowrap">
        <div class="d-flex align-items-center me-4">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
                <ol class="breadcrumb flex-nowrap mb-0">
                    <li class="breadcrumb-item">
                        <a class="fs-4" href="{% url 'registration:list' %}">
                            Registration
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </li>

                    <li class="breadcrumb-item text-body-emphasis active fs-4" aria-current="page">
                        Keys
                    </li>
                </ol>
            </nav>

            <div class="vr mx-3"></div>

            <h6 class="mb-0 text-body-tertiary">
                {{ key }}
            </h6>
        </div>
    </div>

    <div class="mb-4">
        <h5 class="mb-0">
            Change registration key for {{ request.current_host.name }}
        </h5>
    </div>

    <div class="col-12">
        <form class="check-change-js" action="{% url 'registration:change' key=key %}" method="POST">
            {% csrf_token %}

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3 {% if form.password.errors %}text-danger{% endif %}">Expires *</label>
                <div class="col-12 col-md-9">
                    <div class="row check-date-js">
                        <div class="col-6">
                            <input class="form-control text-body-tertiary" type="date" value="{{ expire_date }}" name="expires_date">
                        </div>
                        <div class="col-6">
                            <input class="form-control text-body-tertiary" type="time" name="expires_time" value="{{ expire_time|default:'12:00' }}" disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3">Description</label>
                <div class="col-12 col-md-9">
                    <input class="form-control" type="text" placeholder="reg key number 1" value="{{ description }}" name="description">
                </div>
            </div>

            <button class="btn btn-primary btn-secondary" type="submit" name="save" disabled>Save</button>
        </form>
    </div>
{% endblock %}