{% extends 'base.html' %}
{% load config_tags %}

{% block content_title %}
    Server settings
{% endblock %}

{% block content %}
    <div class="mb-4 col-12 d-flex overflow-hidden overflow-x-auto text-nowrap">
        <div class="d-flex align-items-center me-4">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
                <ol class="breadcrumb flex-nowrap mb-0">
                    <li class="breadcrumb-item">
                        <a class="fs-4" href="{% url 'config:hosts' %}">
                            Settings
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </li>

                    <li class="breadcrumb-item text-body-emphasis active fs-4" aria-current="page">
                        {{ host.name }}
                    </li>
                </ol>
            </nav>

            <div class="vr mx-3"></div>

            <h6 class="mb-0 text-body-tertiary">
                Active
            </h6>
        </div>
    </div>

    {% include 'parts/host_desc.html' %}
{% endblock %}