{% extends 'base.html' %}
{% load config_tags base_tags %}

{% block content_title %}
    Server settings
{% endblock %}

{% block content %}
    {% url 'config:tabs' as url %}
    <div class="mb-4 col-12">
        {% include 'config/parts/links.html' %}
    </div>

    {% if modules or available_modules %}
        <div class="table-adaptive">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Version</th>
                        <th>Creation Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in modules %}
                        {% get_dict_value available_modules module.name as available_module_data %}
                        {% check_module_versions module available_module_data as update_links %}
                        <tr>
                            <td data-title="#">{{ forloop.counter }}</td>
                            <td data-title="Name">
                                {{ module.verbose_name }}
                                {% if module.track == 'paid' %}
                                    Premium
                                {% endif %}
                                {% if module.description %}
                                    <div>
                                        {{ module.description }}
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                Installed
                            </td>
                            <td data-title="Version">
                                {{ module.version }}
                                {% if module.custom %}
                                    <div class="icon-link text-warning fs-5 me-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="This is a handle uploaded module. Can't update this module from modules market.">
                                        <i class="bi bi-exclamation-triangle-fill d-flex"></i>
                                    </div>
                                {% elif update_links.upgrade %}
                                    <div class="icon-link text-warning fs-5 me-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="New version available.">
                                        <i class="bi bi-exclamation-triangle-fill d-flex"></i>
                                    </div>
                                {% elif update_links.buy %}
                                    <div class="icon-link text-warning fs-5 me-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Premium version available.">
                                        <i class="bi bi-exclamation-triangle-fill d-flex"></i>
                                    </div>
                                {% endif %}
                            </td>
                            <td data-title="Creation Date">
                                {{ module.created|date:'Y.m.d' }}
                            </td>
                            <td data-title="Actions">

                                {% if update_links.upgrade and settings_write_permissions %}
                                    <div class="d-flex">
                                        <a class="dropdown-item text-wrap text-primary" href="{{ update_links.upgrade }}">
                                             Upgrade
                                        </a>
                                    </div>
                                {% endif %}

                                {% if update_links.buy and settings_write_permissions %}
                                    <div class="d-flex">
                                        <a class="dropdown-item text-wrap text-primary" href="{{ update_links.buy }}">
                                             Buy Premium
                                        </a>
                                    </div>
                                {% endif %}

                                {% if settings_write_permissions %}
                                    <div class="d-flex">
                                        <div class="dropdown">
                                            <div class="fs-5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical d-flex"></i>
                                            </div>

                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li>
                                                    <a class="dropdown-item text-wrap text-danger" data-delete-href="{% url 'config:delete_module' module=module.name %}" data-delete-name="Module" data-delete-target="{{ module.verbose_name }}" data-bs-toggle="modal" data-bs-target="#delete_modal" type="button">
                                                         Delete
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    {% for module_name, module_data in available_modules.items %}
                        {% if module_name not in installed_modules %}
                            {% for track, module in module_data.items %}
                                <tr>
                                    <td data-title="#"></td>
                                    <td data-title="Name">
                                        {{ module.display_name }}
                                        {% if module.track == 'paid' %}
                                            Premium
                                        {% endif %}
                                        {% if module.description %}
                                            <div>
                                                {{ module.description }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td data-title="Status"></td>
                                    <td data-title="Version">
                                        {{ module.release }}
                                    </td>
                                    <td data-title="Creation Date">
                                        {{ module.created|strp_date }}
                                    </td>
                                    <td data-title="Actions">
                                        {% if settings_write_permissions %}
                                            <div class="d-flex">
                                                <a class="dropdown-item text-wrap text-primary" href="{% url 'config:upload_module' module_name=module.name track=module.track %}">
                                                    {% if track == 'free' %}
                                                        Install
                                                    {% elif track == 'paid' %}
                                                        Buy
                                                    {% endif %}
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if settings_write_permissions %}
        <div class="mt-4">
            <form class="check-change-js" action="{% url 'config:modules' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label h5" for="formFile">
                        You can only upload a module in TAR.GZ or TGZ format.
                    </label>

                    <input class="form-control" id="formFile" type="file" name="file" accept=".tar.gz, .tgz">
                </div>

                <button class="btn btn-primary btn-secondary" type="submit" name="save" disabled>Save</button>
            </form>
        </div>
    {% endif %}
{% endblock %}