{% extends 'modules/base.html' %}
{% load config_tags base_tags static %}

{% block content %}
    <div class="mb-4 col-12">
        {% include 'modules/parts/links.html' %}
    </div>
    <div class="mb-4 modules-data-js">
        {% include 'modules/parts/modules_data_catalogue.html' %}
    </div>

    {% if settings_write_permissions %}
        {% include 'modules/parts/xservices_auth_modal.html' %}
    {% endif %}

    {% include 'modules/parts/installing_module.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/login-xservices.js' %}"></script>
    <script src="{% static 'js/polling-xservices.js' %}"></script>
{% endblock %}