{% extends 'modules/base.html' %}
{% load config_tags base_tags static %}

{% block content %}
    <div class="mb-4 col-12">
        {% include 'modules/parts/links.html' %}
    </div>

    <div>
        {% if request.session.xs_token %}
            Licensed as
            {{ request.session.xs_token.jid }}
            <a href="{% url 'modules:xservices_logout' %}">
                Disconnect
            </a>
        {% else %}
            <a href="" class="xservices-auth-js">
                Connect to license server
            </a>
        {% endif %}
    </div>

    <div class="mb-4 modules-data-js">
        {% include 'modules/parts/modules_data_catalogue.html' %}
    </div>

    {% if settings_write_permissions %}
        {% include 'modules/parts/xservices_auth_modal.html' %}
    {% endif %}

    {% include 'modules/parts/installing_module.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/login-xservices.js' %}"></script>
    <script src="{% static 'js/polling-xservices.js' %}"></script>
{% endblock %}