{% extends 'base.html' %}
{% load config_tags base_tags static %}

{% block section_title %}{% endblock %}

{% block content %}
    {% get_dict_value installed_tracks module.name as module_installed_tracks %}

    <div class="mb-4 col-12 d-flex overflow-hidden overflow-x-auto text-nowrap">
        <div class="d-flex align-items-center me-4">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
                <ol class="breadcrumb flex-nowrap mb-0">
                    <li class="breadcrumb-item">
                        {% if module_installed_tracks and module.track in module_installed_tracks %}
                            <a class="fs-4" href="{% url 'modules:root' %}">
                                Installed
                            </a>
                        {% else %}
                            <a class="fs-4" href="{% url 'modules:catalogue' %}">
                                Catalogue
                            </a>
                        {% endif %}
                    </li>

                    <li class="breadcrumb-item">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </li>

                    <li class="breadcrumb-item text-body-emphasis active fs-4" aria-current="page">
                        {{ module.display_name }} {% if module.track == 'paid' %} Premium {% endif %}
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="d-flex align-items-start align-items-sm-center flex-column flex-sm-row">
        <div class="d-flex align-items-center me-0 me-sm-4 mb-2 mb-sm-0 col">
            <div class="d-flex me-3 avatar avatar-64 avatar-lg-96 img-thumbnail {% if not module.icon %}bg-body-tertiary{% endif %}">
                {% if module.icon %}
                    <img class="img-fluid" src="{{ module.icon }}" alt="Release Icon">
                {% endif %}
            </div>
            <div class="d-flex flex-column col">
                <div class="">
                    <b>{{ module.display_name }}</b> {% if module.track == 'paid' %}<span class="text-secondary"> Premium</span> {% endif %}
                    {% if request.GET.purchased %}<div class="text-secondary">Module successfully purchased</div>{% endif %}
                </div>
                {% if module.description %}
                    <small class="mt-1">
                        {{ module.description }}
                    </small>
                {% endif %}
            </div>
        </div>

        <div class="d-flex flex-column align-items-end align-items-sm-center ms-auto text-end text-sm-center col col-sm-3">
            {% if module_installed_tracks and module.track in module_installed_tracks %}
                <a class="btn btn-success w-90-px" href="{% url module.name|add:':info' %}">
                    Manage
                </a>
            {% elif module_installed_tracks and module.track == 'free' %}
                <a class="btn w-90-px btn-secondary">Unavailable</a>
            {% elif module.track == 'paid' %}
                {% if module.name in purchased_modules and request.session.xs_token %}
                    <a class="btn w-90-px installing-module-js btn-success" href="{% url 'modules:download_module_paid' module_name=module.name %}">
                        Install
                    </a>
                {% else %}
                    {% get_dict_value xservices_plugins module.name as xservices_plugin %}
                    <a class="btn w-90-px btn-success
                        {% if request.session.xs_token %}
                            purchase-module-js
                        {% else %}
                            xservices-auth-js
                        {% endif %}"
                        data-module-name="{{ module.name }}"
                        href="{{ xservices_plugins_subscribe_url }}{{ xservices_plugin.subscribe_id }}/">

                        {% if xservices_plugin.price_data %}
                            ${{ xservices_plugin.price_data.price|price_format }}
                        {% else %}
                            Install
                        {% endif %}
                    </a>

                    {% if xservices_plugin.price_data %}
                        <small class="text-secondary mb-0 mt-1">{{ xservices_plugin.price_data.period }}</small>
                    {% else %}
                        <small class="text-secondary mb-0 mt-1">for Pro subscribers</small>
                    {% endif %}
                {% endif %}
            {% else %}
                <a class="btn btn-primary w-90-px {% if module.track == 'free' %}installing-module-js{% endif %}" href="{% url 'modules:download_module_free' module_name=module.name %}">
                    Install
                </a>
            {% endif %}
        </div>
    </div>

    {% if module.images %}
        <div class="row gy-4 mt-4">
            {% for image in module.images %}
                <div class="col-lg-4 col-sm-6">
                    <div class="d-flex justify-content-center align-items-center preview">
                        <img class="img-fluid" src="{{ image }}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if settings_write_permissions %}
        {% include 'modules/parts/xservices_auth_modal.html' %}
    {% endif %}

    {% include 'modules/parts/installing_module.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="module" src="{% static 'js/login-xservices.js' %}"></script>
{% endblock %}