{% extends 'base.html' %}
{% load static %}

{% block body %}
    <body class="d-flex flex-column min-vh-100 vh-100 bg-body bg-opacity-75 scroll-custom-y">
        <main class="container flex-md-grow-1">
            <div class="row h-100">
                <div class="px-md-4 py-4">
                    <div class="d-flex align-items-center my-4 fs-4">
                        <img src="{% static 'img/logo.png' %}" width="48" height="48" alt="Xabber">
                        Xabber server installation
                    </div>

                    <div class="col-12">
                        <form method="POST" class="installation-form" id="stepper_form">
                            {% csrf_token %}

                            <div class="bs-stepper">
                                <div class="bs-stepper-header flex-wrap flex-lg-nowrap mb-4" role="tablist">
                                    <div class="step col-6 col-lg-auto {% if step == 1 %}active{% elif step > 1 %}complete{% endif %}" data-target="#host_tab">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="host_tab" id="host_tab-trigger">
                                            <span class="bs-stepper-circle">1</span>
                                            <span class="bs-stepper-label">XMPP host</span>
                                        </button>
                                    </div>
                                    <div class="line d-none d-lg-block"></div>

                                    <div class="step col-6 col-lg-auto {% if step == 2 %}active{% elif step > 2 %}complete{% endif %}" data-target="#database_settings">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="database_settings" id="database_settings-trigger">
                                            <span class="bs-stepper-circle">2</span>
                                            <span class="bs-stepper-label">Database settings</span>
                                        </button>
                                    </div>
                                    <div class="line d-none d-lg-block"></div>

                                    <div class="step col-6 col-lg-auto {% if step == 3 %}active{% elif step > 3 %}complete{% endif %}" data-target="#admin_settings">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="admin_settings" id="admin_settings-trigger">
                                            <span class="bs-stepper-circle">3</span>
                                            <span class="bs-stepper-label">Create admin</span>
                                        </button>
                                    </div>
                                    <div class="line d-none d-lg-block"></div>

                                    <div class="step col-6 col-lg-auto {% if step == 4 %}active{% endif %}" data-target="#installation">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="installation" id="installation-trigger">
                                            <span class="bs-stepper-circle">4</span>
                                            <span class="bs-stepper-label">Installation</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="bs-stepper-content">
                                    <div id="host_tab" class="installation-content content {% if step == 1 %}active{% endif %}" role="tabpanel" aria-labelledby="host_tab-trigger">
                                        <div class="col-12 col-lg-8 mx-auto">
                                            <div class="mb-4">
                                                <p>
                                                    Configure main domain name for the XMPP server. It will be used to access server from the internet. All users will receive accounts in this domain. You must have access to DNS settings for this domain to make it work.
                                                </p>
                                            </div>

                                            <div class="mw-480 mx-auto">
                                                <div class="mb-3">
                                                    <label class="form-label {% if form.step_errors.host %}text-danger{% endif %}">{{ form.host.label }}</label>
                                                    <input class="form-control {% if form.step_errors.host %}is-invalid{% endif %} {% if step == 1 %}installation-required{% endif %}" id="id_host" type="text" name="host" value="{% if form.host.data %}{{ form.host.data }}{% endif %}" placeholder="example.com" maxlength="128">
                                                </div>

                                                <div class="d-flex justify-content-between align-items-center mt-4">
                                                    <button class="btn btn-primary ms-auto installation-next" type="submit" name="step" value="1">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="database_settings" class="installation-content content {% if step == 2 %}active{% endif %}" role="tabpanel" aria-labelledby="database_settings-trigger">
                                        <div class="col-12 col-lg-8 mx-auto">
                                            <div class="mb-4">
                                                <p>
                                                    Connect server to a database. You must have it preconfigured before proceeding with installation. Database installation instruction can be found <a target="_blank" href="https://github.com/redsolution/xabber-server/wiki/Installation#postgresql-installation">here</a>.
                                                </p>
                                            </div>

                                            <div class="mw-480 mx-auto">
                                                <div class="mb-3">
                                                    <label class="form-label {% if form.step_errors.db_host %}text-danger{% endif %}">{{ form.db_host.label }}</label>
                                                    <input class="form-control {% if form.step_errors.db_host %}is-invalid{% endif %} {% if step == 2 %}installation-required{% endif %}" type="text" name="db_host" value="{% if form.db_host.data %}{{ form.db_host.data }}{% endif %}" placeholder="localhost" maxlength="100" id="id_db_host">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label {% if form.step_errors.db_name %}text-danger{% endif %}">{{ form.db_name.label }}</label>
                                                    <input class="form-control {% if form.step_errors.db_name %}is-invalid{% endif %} {% if step == 2 %}installation-required{% endif %}" type="text" name="db_name" value="{% if form.db_name.data %}{{ form.db_name.data }}{% endif %}" placeholder="xabberserver" maxlength="100" id="id_db_name">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label {% if form.step_errors.db_user %}text-danger{% endif %}">{{ form.db_user.label }}</label>
                                                    <input class="form-control {% if form.step_errors.db_user %}is-invalid{% endif %} {% if step == 2 %}installation-required{% endif %}" type="text" name="db_user" value="{% if form.db_user.data %}{{ form.db_user.data }}{% endif %}" placeholder="admin" maxlength="100" id="id_db_user">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label {% if form.step_errors.db_user_pass %}text-danger{% endif %}">{{ form.db_user_pass.label }}</label>
                                                    <input class="form-control {% if form.step_errors.db_user_pass %}is-invalid{% endif %}" type="password" name="db_user_pass" value="{% if form.db_user_pass.data %}{{ form.db_user_pass.data }}{% endif %}" placeholder="Password" maxlength="100" id="id_db_user_pass">
                                                </div>

                                                <div class="d-flex justify-content-between align-items-center mt-4">
                                                    <button class="btn btn-secondary installation-prev" type="submit" name="previous" value="1">
                                                        Previous
                                                    </button>
                                                    <button class="btn btn-success ms-auto installation-next installation-final" type="submit" name="step" value="2">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="admin_settings" class="installation-content content {% if step == 3 %}active{% endif %}" role="tabpanel" aria-labelledby="admin_settings-trigger">
                                        <div class="col-12 col-lg-8 mx-auto">
                                            <div class="mb-4">
                                                <p>
                                                    Configure admin account for the server. It will be used to perform all administration and maintenance operations with the server. You will be able to chat using this account, you will also receive security alerts from the server. You will be able to configure additional admin accounts later.
                                                </p>
                                            </div>

                                            <div class="mw-480 mx-auto">
                                                <div class="mb-3">
                                                    <label class="form-label {% if form.step_errors.username %}text-danger{% endif %}">{{ form.username.label }}</label>
                                                    <div class="input-group">
                                                        <input class="form-control {% if form.step_errors.username %}is-invalid{% endif %} {% if step == 3 %}installation-required{% endif %}" type="text" name="username" {% if form.username.data %}value="{{ form.username.data }}"{% endif %} placeholder="admin" maxlength="100" id="id_username">
                                                        {% if form.host.data %}
                                                            <span class="input-group-text">
                                                                @{% if form.host.data %}{{ form.data.host }}{% endif %}
                                                            </span>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label {% if form.step_errors.password %}text-danger{% endif %}">{{ form.password.label }}</label>
                                                    <input class="form-control {% if form.step_errors.password %}is-invalid{% endif %} {% if step == 3 %}installation-required{% endif %}" type="password" name="password" {% if form.password.data %}value="{{ form.password.data }}"{% endif %} placeholder="Password" maxlength="100" id="id_password">
                                                </div>

                                                <div class="d-flex justify-content-between align-items-center mt-4">
                                                    <button class="btn btn-secondary installation-prev" type="submit" name="previous" value="2">
                                                        Previous
                                                    </button>
                                                    <button class="btn btn-primary ms-auto installation-next installation-final" type="submit" name="step" value="3">
                                                        Next
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div id="error" class="installation-content content {% if installation_error %}active{% endif %}" role="tabpanel" aria-labelledby="installation-trigger">
                                        <div class="col-12 col-lg-8 mx-auto">
                                            <div class="mb-4">
                                                <div class="text-danger">
                                                    {{ installation_error }}
                                                </div>

                                                <div class="mt-2 alert alert-warning">
                                                    Database installation instruction can be found <a class="alert-link" target="_blank" href="https://github.com/redsolution/xabber-server/wiki/Installation#postgresql-installation">here</a>.
                                                </div>
                                            </div>

                                            <div class="mw-480 mx-auto">
                                                <div class="d-flex justify-content-between align-items-center mt-4">
                                                    <button class="btn btn-secondary installation-prev" type="submit" name="previous" value="3">
                                                        Back
                                                    </button>
                                                    <button class="btn btn-success ms-auto installation-next installation-final" type="submit" name="step" value="3">
                                                        Retry
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="loader" class="installation-content content" role="tabpanel" aria-labelledby="installation-trigger">
                                        <div class="col-12 col-lg-8 mx-auto">
                                            <div class="text-center">
                                                <div class="spinner-border text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                                <div class="mt-3">Waiting for installation...</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
{% endblock %}