{% if circles %}
    <li class="list-group-item">
        {% for circle in circles %}
            <div class="list-group-item-action text-body-emphasis d-block text-break pe-auto suggestions-custom__item" role="button">
                {{ circle.full_jid }}
            </div>
        {% endfor %}
    </li>
{% endif %}

{% if groups %}
    <li class="list-group-item">
        {% for group in groups %}
            <div class="list-group-item-action text-body-emphasis d-block text-break pe-auto suggestions-custom__item" role="button">
                {{ group.name }}
            </div>
        {% endfor %}
    </li>
{% endif %}

{% if users %}
    <li class="list-group-item">
        {% for user in users %}
            <div class="list-group-item-action text-body-emphasis d-block text-break pe-auto suggestions-custom__item" role="button">
                {{ user.full_jid }}
            </div>
        {% endfor %}
    </li>
{% endif %}