{% if not field.is_hidden %}
<div class="row form-group {% if field.errors %}invalid{% endif %}">
    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">
        {{ field.label }}
    </label>
    <div class="col-sm-7">
        {{ field }}
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        <div class="invalid-feedback d-block">
            {% for field_error in field.errors %}{{ field_error }} {% endfor %}
        </div>
    </div>
    {% if field.field.widget.attrs.hint %}
    <div class="col-sm-2">
        <a tabindex="0" class="form-field-popover" role="button" data-toggle="popover"
           data-placement="bottom" data-html="true" data-trigger="focus"
           data-content="{{ field.field.widget.attrs.hint }}">i
        </a>
    </div>
    {% endif %}
</div>
{% endif %}