<!DOCTYPE html>
{% load static %}
{% load xmppserverui_tags %}


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="{% static 'xmppserverui/img/favicon.png' %}"/>

        <link rel="stylesheet" href="{% static 'mdi/css/materialdesignicons.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/4.3.1/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/4.3.1/css/bootstrap-toggle.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'xmppserverui/css/styles.css' %}"/>
        {% block css %}{% endblock %}

        <title>Xabber Server</title>
        <!--<title>{% block title %}{% endblock %}</title>-->
    </head>
    <body>
    {% block body_container %}
    <div class="container main-container h-100">
        <div class="row no-gutters h-100">
            <div class="col-md-2">
                <div class="left-content h-100">
                    <div class="logo">
                        <a href="{% url 'personal-area:profile' %}">
                            <img class="logo-img" width="48" height="48"
                                 src="{% static 'xmppserverui/img/logo.png' %}">
                            <span class="logo-text">Xabber</span>
                        </a>
                    </div>
                    <div class="nav-menu">
                        <div class="list-group list-group-flush">
                            <a href="{% url 'personal-area:profile' %}"
                               class="list-group-item active">Profile</a>
                        </div>
                    </div>
                    <div class="copyright">
                        Xabber server<br/>
                        Community edition<br/>
                        v. 0.9 alpha<br/>
                        <a href="https://www.xabber.com/" style="text-decoration: none">www.xabber.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="top-content">
                    <nav class="navbar" style="min-height: 38px">
                        {% if auth_user %}
                            <div>
                                <a href="{% url 'xabber-web' %}" target="_blank" class="btn btn-primary">Open chat</a>
{#                                {{ auth_user.full_name }}#}
                            </div>
                            <div class="dropdown dropdown-right">
                                {% if auth_user.photo %}
                                    <img src="{{ auth_user.photo.url }}" class="user-avatar" data-toggle="dropdown"
                                         aria-haspopup="true" aria-expanded="false" />
                                {% else %}
                                    <p class="user-avatar-preview-p"
                                       data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false"
                                       data-letters="{% get_user_initials auth_user %}"></p>
                                {% endif %}
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'personal-area:profile' %}">
                                        {{ auth_user.full_jid }}
                                    </a>

                                    {% if auth_user.is_admin %}
                                        <a class="dropdown-item" target="_blank" href="{% url 'server:dashboard' %}">
                                            Dashboard
                                        </a>
                                    {% endif %}
{#                                    <a class="dropdown-item" href="{% url 'xabber-web' %}" target="_blank" rel="noopener noreferrer">#}
{#                                        Launch Xabber for Web#}
{#                                    </a>#}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                       href="{% url 'auth:logout' %}">Logout</a>
                                </div>
                            </div>
                        {% endif %}
                    </nav>
                </div>
                <div class="main-content profile-content">
                    {% block main_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
        <script src="{% static 'jquery/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'jquery/js/jquery.cookie.js' %}"></script>
        <script src="{% static 'popper/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4.3.1/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootstrap/4.3.1/js/bootstrap-toggle.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                $(".dropdown-menu a").click(function() {
                    let dropdown_id = "#" + $(this).parent().attr('aria-labelledby');
                    $(dropdown_id).text($(this).text());
                    $(dropdown_id).val($(this).text());
                });

                $('.custom-file-input').on('change',function(){
                    var filename = $(this).val().replace(/^.*[\\\/]/, '');
                    $(this).parent().find('.custom-file-label').html(filename);
                    $(this).parent().find('.custom-file-label').addClass('content-data');
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                {% if need_to_request_user_pass %}
                    $('#request-user-pass-popup').modal('show');
                {% endif %}
            });
        </script>
        {% block js %}{% endblock %}
    </body>
</html>