{% extends 'personal_area/base.html' %}
{% load xmppserverui_tags %}

{% block title %}Details for {{ curr_user }}{% endblock %}

{% block main_content %}
    <div class="container">
         <div class="row no-gutters">
            <div class="col breadcrumbs">
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item"><h1>Profile info</h1></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr><td>Username</td>  <td>{{ curr_user.username }}</td></tr>
                        <tr><td>Host</td>  <td>{{ curr_user.host }}</td></tr>
                        <tr><td>Nickname</td><td>{% if curr_user.nickname %}{{ curr_user.nickname }}{% endif %}</td></tr>
                        <tr><td>First name</td><td>{% if curr_user.first_name %}{{ curr_user.first_name }}{% endif %}</td></tr>
                        <tr><td>Last name</td><td>{% if curr_user.last_name %}{{ curr_user.last_name }}{% endif %}</td></tr>
                    </tbody>
                </table>
                <div class="btn-set">
                    <a href="{% url 'personal-area:change-password' %}">
                        <button type="button" class="btn btn-primary">Change password</button>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="user-details">
                    <div class="user-avatar-container">
                        {% if curr_user.photo %}
                            <img class="user-avatar" src="{{ curr_user.photo.url }}" />
                        {% else %}
                            <p class="user-avatar-p" data-letters="{% get_user_initials curr_user %}"></p>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}