{% extends 'base.html' %}
{% load config_tags %}

{% block content_title %}
    Django log
{% endblock %}

{% block host_select %}
    {% if request.user.is_admin %}
        <div class="ms-auto me-0 me-md-4 pt-2 pt-md-0 order-1 order-md-0 col-12 col-md-auto header-host">
            {% include 'parts/host_select.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="mb-4 col-12">
        {% include 'log/parts/links.html' %}
    </div>

    <div class="mb-4 col-12">
        <form class="log-form-js" action="{% url 'log:django_log' %}">
            <div class="mb-n3 me-n3 d-flex flex-wrap">
                <div class="me-3 mb-3">
                    <input class="form-control" type="number" name="lines" value="{{ request.GET.lines|default:500 }}">
                </div>
                <div class="me-3 mb-3">
                    <select class="form-select" name="file">
                        {% for file in log_files %}
                            <option value="{{ file }}" {% if file in log_path %}selected{% endif %}>{{ file }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="me-3 mb-3">
                    <button class="btn btn-primary">
                        Show log
                    </button>
                </div>
                <div class="me-3 mb-3 d-flex align-items-end">
                    <a class="btn btn-primary" target="_blank" href="{% url 'log:django_log' %}?full=1{% if request.GET.file %}&file={{ request.GET.file }}{% endif %}">
                        Download
                    </a>
                </div>
            </div>
        </form>
    </div>

    <div class="mb-4 col-12">
        <div class="mb-n3 me-n3 d-flex flex-wrap">
            <div class="me-3 mb-3">
                <div class="mb-2 text-secondary">
                    Update log every:
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="log_range" value="5" id="log_range1" checked>
                    <label class="form-check-label" for="log_range1">5 seconds</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="log_range" value="15" id="log_range2">
                    <label class="form-check-label" for="log_range2">15 seconds</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="log_range" value="30" id="log_range3">
                    <label class="form-check-label" for="log_range3">30 seconds</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 mh-400 position-relative flex-grow-1">
        <div class="overflow-hidden overflow-y-auto scroll-custom-y d-flex flex-column-reverse p-4 bg-dark text-light fs-min position-absolute top-0 bottom-0 end-0 start-0 h-100">
            <div class="log-list-js d-flex flex-column" data-url="{% url 'log:django_log' %}">
                {% include 'log/parts/log_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}