{% extends 'users/base.html' %}

{% block content %}
    <div class="mb-4 col-12 d-flex overflow-hidden overflow-x-auto text-nowrap">
        <div class="d-flex align-items-center me-4">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '';">
                <ol class="breadcrumb flex-nowrap mb-0">
                    <li class="breadcrumb-item">
                        <a class="fs-4" href="{% url 'users:list' %}">
                            Users
                        </a>
                    </li>

                    <li class="breadcrumb-item">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <i class="bi bi-chevron-right"></i>
                        </div>
                    </li>

                    <li class="breadcrumb-item text-body-emphasis active fs-4" aria-current="page">
                        {{ user.full_jid }}
                    </li>
                </ol>
            </nav>

            <div class="vr mx-3"></div>

            <h6 class="mb-0 text-body-tertiary">
                {% if user.is_active %}Active{% else %}Blocked{% endif %}
            </h6>
        </div>
    </div>

    <div class="mb-4 col-12">
        {% include 'users/parts/links.html' %}
    </div>

    <div class="col-12 pb-5 mb-5">
        <form class="check-change-js" action="{% url 'users:vcard' id=user.id %}" method="POST">
            {% csrf_token %}

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3">Nickname</label>
                <div class="col-12 col-md-9">
                    <input class="form-control" type="text" name="nickname" placeholder="John Doe" {% if user.nickname %}value="{{ user.nickname }}"{% endif %} {% if not users_write_permissions %}disabled{% endif %}>
                    <span class="form-text text-secondary">Nickname will be seen to user's contact.</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3">First name</label>
                <div class="col-12 col-md-9">
                    <input class="form-control" type="text" name="first_name" placeholder="John" {% if user.first_name %}value="{{ user.first_name }}"{% endif %} {% if not users_write_permissions %}disabled{% endif %}>
                    <span class="form-text text-secondary">Permitted symbols are a..z, 0..9, dots and underscores.</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-12 col-md-3">Last name</label>
                <div class="col-12 col-md-9">
                    <input class="form-control" type="text" name="last_name" placeholder="Doe" {% if user.last_name %}value="{{ user.last_name }}"{% endif %} {% if not users_write_permissions %}disabled{% endif %}>
                    <span class="form-text text-secondary">Permitted symbols are a..z, 0..9, dots and underscores.</span>
                </div>
            </div>

            {% if users_write_permissions %}
                <div class="fixed-bottom row col-md-9 col-xl-10 m-0 ms-auto py-4 px-0 px-md-4 bg-body border-top shadow">
                    <div class="col-12 p-md-0">
                        <div class="container-xxl p-0">
                            <button class="btn btn-primary btn-secondary" type="submit" name="save" disabled>
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}