{% extends 'server/overview_tabs.html' %}
{% load xmppserverui_tags %}
{% block title %}Server administrators{% endblock %}

{% block tab_content %}
{% check_user_perms 'virtualhost.change_user' as virtualhost_change_user_perm %}
    <div class="tab-pane fade show active">
        <div class="row no-gutters">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">JID</th>
                            <th scope="col">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admins %}
                            <tr>
                                <td class="table-data">{% if admin.username %}{{ forloop.counter }}{% endif %}</td>
                                <td class="table-data"><a href="{% url 'virtualhost:user-details' admin.id %}">{{ admin.full_jid }}</a></td>
                                <td class="table-data">{% if admin.nickname %}{{ admin.nickname }}{% else %}{{ admin.username }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="padding-bottom: 16px; margin-top: 24px">
            <div class="col-sm-9">
            </div>
            {% if virtualhost_change_user_perm %}
                <div class="col-sm-3">
                    <a class="btn btn-primary" style="float: right" href="{% url 'server:manage-admins' %}">Manage</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}