{% extends 'server/overview_tabs.html' %}

{% block title %}Manage authentication backends{% endblock %}

{% block tab_content %}
    <div class="tab-pane fade show active">
        <div class="row no-gutters">
            <div class="col-sm-10 page-content">
                <div style="margin: 0 0 15px;">
                    <h3>Manage authentication backends</h3>
                </div>

                <form action="{% url 'server:manage-auth-backends' %}" method="post" id="form_manage_backends" >
                    {% csrf_token %}

                    {% with form.backend as field %}
                        {% include 'include/input_field.html' %}
                    {% endwith %}

                    <div id="ldap-settings-block">
                        <div style="margin: 0 0 15px;">
                            <h3>LDAP Settings</h3>
                        </div>
                        {% with form.ldap_server_list as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        {% with form.ldap_encrypt as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        {% with form.ldap_tls_verify as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        {% with form.ldap_tls_cacertfile as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        {% with form.ldap_tls_depth as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        {% with form.ldap_port as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        {% with form.ldap_rootdn as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        {% with form.ldap_password as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        {% with form.ldap_deref_aliases as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}

                        <div style="margin: 0 0 15px;">
                            <h3>LDAP Authentication</h3>
                        </div>

                        {% with form.ldap_base as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        <!--{% with form.ldap_uid_list as field %}-->
                            <!--{% include 'include/input_field.html' %}-->
                        <!--{% endwith %}-->
                        {% with form.ldap_filter as field %}
                            {% include 'include/input_field.html' %}
                        {% endwith %}
                        <!--{% with form.ldap_dn_filter as field %}-->
                            <!--{% include 'include/input_field.html' %}-->
                        <!--{% endwith %}-->
                    </div>

                    {% for error in form.non_field_errors %}
                        <div class="form-group row">
                            <div class="col-sm-12 non-field-error">
                                {{ error }}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row form-group form-btn-block">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary"
                                    id="btn_manage_backends" disabled>Save</button>
                            <a href="{% url 'server:auth-backends-list' %}">
                                <button type="button" class="btn btn-outline-secondary"
                                        style="margin-left: 24px;">Cancel</button>
                            </a>
                            <span id="selected_counts" class="selected-counts-text">
                                <span id="selected_counter">0</span> selected
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script>
        function getSelectBackend() {
            return $("#form_manage_backends select[name=backend]").val();
        }

        function checkSelectedBackend(backend) {
            if (backend == 'ldap')
                $("#form_manage_backends #ldap-settings-block").show();
            else
                $("#form_manage_backends #ldap-settings-block").hide();
        }

        function checkSaveBtnState(new_backend) {
            var curr_backend = '{{ form.curr_backend }}';
            var disable_select = new_backend == curr_backend ? true : false;
            disable_select = new_backend == 'ldap' ? false : disable_select;
            $("#btn_manage_backends").prop('disabled', disable_select);
        }

        function checkForm() {
            var selected_backend = getSelectBackend();
            checkSelectedBackend(selected_backend);
            checkSaveBtnState(selected_backend);
        }

        $(document).ready(function() {
            checkForm();

            $("#form_manage_backends").on("change", "select[name=backend]", function(event) {
                event.preventDefault();
                checkForm();
            });
        });
    </script>
{% endblock %}