{% extends 'server/overview_tabs.html' %}

{% block title %}Manage authentication backends{% endblock %}

{% block tab_content %}
    <div class="tab-pane fade show active">
        <div class="row no-gutters">
            <div class="col page-content">
                <div style="margin: 0 0 15px;">
                    <h3>Manage authentication backends</h3>
                </div>

                <form action="{% url 'server:manage-auth-backends' %}" method="post" id="form_manage_backends" >
                    {% csrf_token %}

                    {% with form.backend as field %}
                        <div class="row form-group {% if field.errors %}invalid{% endif %}">
                            <div class="col-sm-4">
                                {{ field }}
                                <div class="invalid-feedback d-block">
                                    {% for field_error in field.errors %}{{ field_error }} {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endwith %}

                    <div id="ldap-settings-block">
                        <div style="margin: 0 0 15px;">
                            <h3>LDAP Settings</h3>
                        </div>

                        {% with form.ldap_server as field %}
                            {% if not field.is_hidden %}
                                <div class="form-group {% if field.errors %}invalid{% endif %}">
                                    <div class="row">
                                        <label for="{{ field.id_for_label }}" class="col-sm-4">
                                            {{ field.label }}
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {{ field }}
                                            <div class="invalid-feedback d-block">
                                                {% for field_error in field.errors %}{{ field_error }} {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}

                        {% with form.ldap_port as field %}
                            {% if not field.is_hidden %}
                                <div class="form-group {% if field.errors %}invalid{% endif %}">
                                    <div class="row">
                                        <label for="{{ field.id_for_label }}" class="col-sm-4">
                                            {{ field.label }}
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {{ field }}
                                            <div class="invalid-feedback d-block">
                                                {% for field_error in field.errors %}{{ field_error }} {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}

                        {% with form.ldap_rootdn as field %}
                            {% if not field.is_hidden %}
                                <div class="form-group {% if field.errors %}invalid{% endif %}">
                                    <div class="row">
                                        <label for="{{ field.id_for_label }}" class="col-sm-4">
                                            {{ field.label }}
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {{ field }}
                                            <div class="invalid-feedback d-block">
                                                {% for field_error in field.errors %}{{ field_error }} {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}

                        {% with form.ldap_password as field %}
                            {% if not field.is_hidden %}
                                <div class="form-group {% if field.errors %}invalid{% endif %}">
                                    <div class="row">
                                        <label for="{{ field.id_for_label }}" class="col-sm-4">
                                            {{ field.label }}
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            {{ field }}
                                            <div class="invalid-feedback d-block">
                                                {% for field_error in field.errors %}{{ field_error }} {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}

                    </div>

                    {% for error in form.non_field_errors %}
                        <div class="form-group row">
                            <div class="col-sm-12 non-field-error">
                                {{ error }}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row form-group form-btn-block">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary"
                                    id="btn_manage_backends" disabled>Save</button>
                            <a href="{% url 'server:auth-backends-list' %}">
                                <button type="button" class="btn btn-outline-secondary"
                                        style="margin-left: 24px;">Cancel</button>
                            </a>
                            <span id="selected_counts" class="selected-counts-text">
                                <span id="selected_counter">0</span> selected
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script>
        function getSelectBackend() {
            return $("#form_manage_backends select[name=backend]").val();
        }

        function checkSelectedBackend(backend) {
            var is_ldap = backend == 'ldap',
                has_ldap_settings = '{{ form.has_ldap_settings }}' == 'True';
            if (is_ldap && !has_ldap_settings) {
                $("#form_manage_backends #ldap-settings-block").show();
            } else {
                $("#form_manage_backends #ldap-settings-block").show();
            }
        }

        function checkSaveBtnState(new_backend) {
            var curr_backend = '{{ form.curr_backend }}';
            var disable_select = new_backend == curr_backend ? true : false;
            $("#btn_manage_backends").prop('disabled', disable_select);
        }

        function checkForm() {
            var selected_backend = getSelectBackend();
            checkSelectedBackend(selected_backend);
            checkSaveBtnState(selected_backend);
        }

        $(document).ready(function() {
            checkForm();

            $("#form_manage_backends").on("change", "select[name=backend]", function(event) {
                event.preventDefault();
                checkForm();
            });
        });
    </script>
{% endblock %}