{% extends 'server/overview_tabs.html' %}

{% block css %}
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block title %}LDAP Configuration{% endblock %}

{% block tab_content %}
    <div class="tab-pane fade show active">
        <div class="row no-gutters">
            <div class="col-sm-12 page-content">

                <form action="{% url 'server:manage-ldap' %}" method="post" id="form_ldap_settings" >
                    {% csrf_token %}

                    <div style="margin: 0 0 15px;">
                        <h3>LDAP authentication</h3>
                    </div>

                    {% with form.ldap_is_active as field %}
                        {% include 'include/input_field.html' %}
                    {% endwith %}

                    <div id="ldap-settings-block">
                        <div style="margin: 0 0 15px;">
                            <h3>LDAP connection</h3>
                        </div>
                        {% with form.ldap_server_list as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_encrypt as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_tls_verify as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_tls_cacertfile as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_tls_depth as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_port as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_rootdn as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_password as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_deref_aliases as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}

                        <div style="margin: 0 0 15px;">
                            <h3>LDAP authentication details</h3>
                        </div>
                        {% with form.ldap_base as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_uids as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_filter as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}
                        {% with form.ldap_dn_filter as field %}
                            {% include 'include/input_field_with_popover.html' %}
                        {% endwith %}

                        <input type="hidden" name="form_ldap_settings"/>
                    </div>

                    {% for error in form.non_field_errors %}
                        <div class="form-group row">
                            <div class="col-sm-12 non-field-error">
                                {{ error }}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row form-group form-btn-block">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary"
                                    id="btn_manage_backends">Save</button>
                            <a href="{% url 'server:manage-ldap' %}">
                                <button type="button" class="btn btn-outline-secondary"
                                        style="margin-left: 24px;">Cancel</button>
                            </a>
                            <span id="selected_counts" class="selected-counts-text">
                                <span id="selected_counter">0</span> selected
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        function set_ldap_settings() {
            var checked = $('#id_ldap_is_active').prop('checked');
            if (checked)
                $('#ldap-settings-block').show();
            else
                $('#ldap-settings-block').hide();
        }

        $(document).ready(function() {
            $('#id_ldap_is_active').bootstrapToggle();
            set_ldap_settings();

            $('#id_ldap_is_active').change(function() {
                set_ldap_settings();
            })
        });
    </script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}