{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col breadcrumbs">
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item"><h1>Server settings</h1></li>
                </ul>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'vhosts' %} active{% endif %}"
                           href="{% url 'server:vhosts-list' %}">Virtual hosts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'admins' %} active{% endif %}"
                           href="{% url 'server:admins-list' %}">Administrators</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'auth_backends' %} active{% endif %}"
                           href="{% url 'server:manage-ldap' %}">LDAP Configuration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'certs' %} active{% endif %}"
                           href="{% url 'server:certs-list' %}">SSL certificates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'modules' %} active{% endif %}"
                           href="{% url 'server:modules-list' %}">Modules</a>
                    </li>
                </ul>

                <div class="tab-content">
                    {% block tab_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}