<!DOCTYPE html>
{% load static %}
{% load xmppserverui_tags modules_tags %}
{% get_menu_subitems as subitems %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="{% static 'xmppserverui/img/favicon.png' %}"/>

        <link rel="stylesheet" href="{% static 'mdi/css/materialdesignicons.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/4.3.1/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/4.3.1/css/bootstrap-toggle.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'xmppserverui/css/styles.css' %}"/>
        {% block css %}{% endblock %}

        <title>Xabber Server</title>
        <!--<title>{% block title %}{% endblock %}</title>-->
    </head>
    <body>
    {% block body_container %}
    <div class="container main-container h-100">
        <div class="wrap no-gutters h-100">
            <div class="left">
                <div class="left-content h-100">
                    <div class="logo">
                        <a href="{% url 'server:home' %}">
                            <img class="logo-img" width="48" height="48"
                                 src="{% static 'xmppserverui/img/logo.png' %}">
                            <span class="logo-text">Xabber</span>
                        </a>
                    </div>
                    <div class="nav-menu">
                        <div class="list-group list-group-flush">
                            <a href="{% url 'server:home' %}"
                               class="list-group-item {% if page.section == 'home' %}active{% endif %}">Home </a>
                            {% check_user_perms 'server.view_dashboard' as server_dashboard_perms %}
                            {% if server_dashboard_perms %}
                            <a href="{% url 'server:dashboard' %}"
                               class="list-group-item {% if page.section == 'dashboard' %}active{% endif %}">Dashboard </a>
                            {% for subitem in subitems %}
                                {% if subitem.menu_item == 'dashboard' %}
                                    <a href="{{ subitem.url }}"
                                       class="list-group-item">{{ subitem.subitem }}</a>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% check_user_perms 'virtualhost.view_user' as virtualhost_user_perms %}
                            {% if virtualhost_user_perms %}
                            <a href="{% url 'virtualhost:users' %}"
                               class="list-group-item {% if page.section == 'vhosts-users' %}active{% endif %}">
                                Users
                            </a>
                            {% for subitem in subitems %}
                                {% if subitem.menu_item == 'users' %}
                                    <a href="{{ subitem.url }}"
                                       class="list-group-item">{{ subitem.subitem }}</a>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% check_user_perms 'virtualhost.view_group' as virtualhost_group_perms %}
                            {% if virtualhost_group_perms %}
                            <a href="{% url 'virtualhost:groups' %}"
                               class="list-group-item {% if page.section == 'vhosts-groups' %}active{% endif %}">
                                Circles
                            </a>
                            {% endif %}
                            {% check_user_perms 'virtualhost.view_groupchat' as virtualhost_groupchat_perms %}
                            {% if virtualhost_groupchat_perms %}
                            <a href="{% url 'virtualhost:chats' %}"
                               class="list-group-item {% if page.section == 'vhosts-chats' %}active{% endif %}">
                                Groups
                            </a>
                            {% endif %}
                            <!--<a href="#" class="list-group-item">File sharing</a>-->
                            {% check_user_perms 'is_admin' as virtualhost_setting_perms %}
                            {% if virtualhost_setting_perms %}
                            <a href="{% url 'registration:registration' %}"
                               class="list-group-item {% if page.section == 'registration' %}active{% endif %}">
                                Registration
                            </a>
                            {% endif %}
                            {% check_user_perms 'is_admin' as virtualhost_setting_perms %}
                            {% if virtualhost_setting_perms %}
                            <a href="{% url 'server:settings' %}"
                               class="list-group-item {% if page.section == 'server' %}active{% endif %}">
                                Settings
                            </a>
                            {% endif %}
                            <div class="list-group-item-inactive">Modules</div>
                            {% get_modules as modules %}
                            {% for module in modules %}
                            {% has_perm_on_app auth_user module.module as has_perm_on_app %}
                            {% check_user_perms 'is_admin' as is_admin %}
                            {% if has_perm_on_app or is_admin %}
                                <a href="{{ module.url }}"
                                   class="list-group-item
<!--                                    {% if page.section == 'modules' %}active{% endif %}-->
                                    ">
                                    {{ module.name }}
                                </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="copyright">
                        Xabber server<br/>
                        Community edition<br/>
                        v. 0.9 alpha<br/>
                        <a href="https://www.xabber.com/" style="text-decoration: none">www.xabber.com</a>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="top-content">
                    <nav class="navbar">
                        {% check_user_perms 'virtualhost.add_user' as virtualhost_add_user_perm %}
                        {% check_user_perms 'virtualhost.add_group' as virtualhost_add_group_perm %}
                        {% if virtualhost_add_user_perm and virtualhost_user_perms or virtualhost_add_group_perm and virtualhost_group_perms %}
                            <button type="button" class="navbar-create-btn btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Create
                            </button>
                            <div class="dropdown-menu">
                                {% if virtualhost_add_user_perm and virtualhost_user_perms %}
                                <a class="dropdown-item large-padding" href="{% url 'virtualhost:user-create' %}">
                                    <b>User</b>
                                    <div class="dropdown-item-secondary-text">
                                        Add new user account. Users can send and
                                        receive messages, create and join group chats,
                                        make audio and video calls.
                                    </div>
                                </a>
                                {% endif %}
                                {% if virtualhost_add_group_perm and virtualhost_group_perms %}
                                <a class="dropdown-item large-padding" href="{% url 'virtualhost:group-create' %}">
                                    <b>Circle</b>
                                    <div class="dropdown-item-secondary-text">
                                        Circles are used to manage shared contact
                                        lists, user permissions and resource quotas.
                                    </div>
                                </a>
                                {% endif %}
                                {% for subitem in subitems %}
                                    {% if subitem.menu_item == 'create' %}
                                        <a class="dropdown-item large-padding" href="{{ subitem.url }}">
                                            <b>{{ subitem.subitem }}</b>
                                            <div class="dropdown-item-secondary-text">
                                                {{ subitem.subitem }}
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                <!--<a class="dropdown-item large-padding" href="#">-->
                                    <!--<b>Group chat</b><br/>-->
                                    <!--<span class="dropdown-item-secondary-text">-->
                                        <!--Duis aute irure dolor in reprehenderit in-->
                                        <!--voluptate velit esse cillum dolore eu fugiat-->
                                        <!--nulla pariatur. Excepteur sint occaecat-->
                                        <!--cupidatat non proident, sunt in culpa qui-->
                                        <!--officia deserunt mollit anim id est laborum.-->
                                    <!--</span>-->
                                <!--</a>-->
                            </div>
                        {% endif %}
                        {% if virtualhost_user_perms or virtualhost_group_perms or virtualhost_groupchat_perms %}
                            <form action="{% url 'virtualhost:search'%}" method="GET" class="navbar-search-form">
                                <input class="form-control" name="search"
                                       type="search"
                                       placeholder="Search for Users, Circles, Groups"
                                       aria-label="Search">
                            </form>
                        {% endif %}
                        {% if auth_user %}
                            <div class="dropdown dropdown-right">
                                {% if auth_user.photo %}
                                    <img src="{{ auth_user.photo.url }}" class="user-avatar" data-toggle="dropdown"
                                         aria-haspopup="true" aria-expanded="false" />
                                {% else %}
                                    <p class="user-avatar-preview-p"
                                       data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false"
                                       data-letters="{% get_user_initials auth_user %}"></p>
                                {% endif %}
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url 'virtualhost:user-details' auth_user.id %}">
                                        {{ auth_user.full_jid }}
                                    </a>
                                    <a class="dropdown-item" href="{% url 'server:root-settings' %}" target="_blank" rel="noopener noreferrer">
                                        Launch Xabber for Web
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                       href="{% url 'auth:logout' %}">Logout</a>
                                </div>
                            </div>
                        {% endif %}
                    </nav>
                </div>
                <div class="main-content">
                    {% block main_content %}{% endblock %}
                </div>

                {% if need_to_request_user_pass %}
                    <div class="modal fade" id="request-user-pass-popup" tabindex="-1"
                         role="dialog" aria-labelledby="exampleModalCenterTitle"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="border-bottom: none;">
                                    <h5 class="modal-title">Enter your password</h5>
                                </div>
                                <div class="modal-body" style="border-bottom: none;">
                                    <form id="add-gm-form" method="post"
                                          action="{% url 'auth:request-user-password' %}">

                                        {% csrf_token %}

                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <div class="input-field">
                                                    <input type="password" name="password"
                                                           id="id_password" required=""
                                                           placeholder="Password" class="form-control"
                                                           maxlength="50">
                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="source_browser" value="{{ request.META.HTTP_USER_AGENT }}"/>
                                        <input type="hidden" name="source_ip" value="{{ request.META.REMOTE_ADDR }}"/>

                                        <div class="row form-group errors">
                                            <div class="col-sm-12">
                                                <div class="non-field-error">
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            {% if message.extra_tags == 'request_user_pass_form_errors' %}
                                                                {{ message }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="username" value="{{ auth_user.full_jid }}">
                                        <input type="hidden" name="current_path" value="{{ request.path }}">

                                        <div class="modal-footer" style="border-top: none; padding: 1rem 0;">
                                            <button type="button" class="btn btn-outline-secondary"
                                                    data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
        <script src="{% static 'jquery/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'jquery/js/jquery.cookie.js' %}"></script>
        <script src="{% static 'popper/js/popper.min.js' %}"></script>
        <script src="{% static 'bootstrap/4.3.1/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootstrap/4.3.1/js/bootstrap-toggle.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                $(".dropdown-menu a").click(function() {
                    let dropdown_id = "#" + $(this).parent().attr('aria-labelledby');
                    $(dropdown_id).text($(this).text());
                    $(dropdown_id).val($(this).text());
                });

                $('.custom-file-input').on('change',function(){
                    var filename = $(this).val().replace(/^.*[\\\/]/, '');
                    $(this).parent().find('.custom-file-label').html(filename);
                    $(this).parent().find('.custom-file-label').addClass('content-data');
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                {% if need_to_request_user_pass %}
                    $('#request-user-pass-popup').modal('show');
                {% endif %}
            });
        </script>
        {% block js %}{% endblock %}
    </body>
</html>