<div class="modal fade" id="removing_module" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="removing_module_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="removing_module_label">Removing module, please wait...</h1>
            </div>

            <div class="modal-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-border text-danger m-3" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>