{% extends 'base.html' %}

{% block title %}Delete circle{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col breadcrumbs">
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item"><h1>Delete circle</h1></li>
                </ul>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col page-content">
                <p>Circle <b>{{ group }}</b> will deleted on server. Are you sure?</p>

                <form method="post" action="{% url 'virtualhost:group-delete' group.id %}">
                    {% csrf_token %}

                    {% with form.group as field %}
                        {% include 'include/input_field.html' %}
                    {% endwith %}
                    {% with form.host as field %}
                        {% include 'include/input_field.html' %}
                    {% endwith %}

                    <div class="btn-set">
                        <a href="{% url 'virtualhost:groups' %}">
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </a>
                        <button type="submit" class="btn btn-primary">Delete circle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
