{% extends 'virtualhost/group_tabs.html' %}
{% load xmppserverui_tags %}

{% block title %}Edit {{ group }} members{% endblock %}

{% block tab_content %}
    <div class="tab-pane fade show active">
        {% if members %}
        <div class="row no-gutters">
            <div class="col page-content">
                <div style="margin: 0 0 15px;">
                    <h3>Manage members</h3>
                </div>

                <form method="post" action="{% url 'virtualhost:group-members-select' group.id %}">
                    {% csrf_token %}

                    <div class="row form-group {% if field.errors %}invalid{% endif %}">
                        <div class="col-sm-12">
                            <ul class="list-group" id="member_list">
                                {% for member in members %}
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                 class="custom-control-input select-item"
                                                 id="select-member-{{ forloop.counter }}"
                                                 data-member="{{ member.member }}"
                                                 {% if member.checked %}checked{% endif %}>
                                            <label class="custom-control-label"
                                                 for="select-member-{{ forloop.counter }}">
                                                {% if member.member_verbose %}
                                                    {{ member.member_verbose }}
                                                {% else %}
                                                    {{ member.member }}
                                                {% endif %}
                                                {% if member.secondary_verbose %}
                                                    <span style="color:grey;">{{ member.secondary_verbose }}</span>
                                                {% endif %}
                                            </label>
                                            {% if member.chat_marker %}
                                                <span class="badge badge-primary badge-pill group-members-count">
                                                    group chat
                                                </span>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                            <input type="hidden" name="member_list" />
                        </div>
                    </div>

                    {% if select_members_error %}
                        <div class="row form-group">
                            <div class="col-sm-12 non-field-error">
                                {{ select_members_error }}
                            </div>
                        </div>
                     {% endif %}

                    <div class="row form-group form-btn-block">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary"
                                    id="btn_add_members" disabled>Save</button>
                            <a href="{% url 'virtualhost:group-members' group.id %}">
                                <button type="button" class="btn btn-outline-secondary"
                                        style="margin-left: 24px;">Cancel</button>
                            </a>
                            <span id="selected_counts" class="selected-counts-text">
                                <span id="selected_counter">0</span> selected
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
         <div class="row no-gutters">
            <div class="col page-content">
                <div style="margin: 0 0 15px;">
                    <h3>All members already selected.</h3>
                </div>
            </div>
         </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script>
        function updateMembersInputField(members) {
            var members_string = Array.from(members).join(' ');
            $('input[name=member_list]').val(members_string);
        }

        function initMembers() {
            var members = new Set();
            $("#member_list .select-item:checked").each(function() {
                var member = $(this).attr("data-member");
                members.add(member);
            });
            updateMembersInputField(members);
            return members;
        }

        function equalSet(as, bs) {
            if (as.size !== bs.size) return false;
            for (var a of as) if (!bs.has(a)) return false;
            return true;
        }

        function uncheckMembersIfAllChecked(domain, members) {
             $("#member_list .select-item:checked").each(function() {
                var member = $(this).attr("data-member");
                if (!member.startsWith('all@') && members.has(member) && domain == member.split('@')[1]) {
                    $(this).prop("checked", false);
                    $(this).trigger("change");
                    }
            });
        }

        $(document).ready(function() {
            var new_members = initMembers(),
                curr_members = initMembers();

            $("#member_list").on("change", ".select-item", function(event) {
                event.preventDefault();

                var is_checked = this.checked,
                    member = $(this).attr("data-member");

                if (is_checked) {
                    if (member.startsWith('all@')) {
                        uncheckMembersIfAllChecked(member.split('@')[1], curr_members);
                        }
                    new_members.add(member);
                } else {
                    new_members.delete(member);
                    }

                updateMembersInputField(new_members);

                if (equalSet(new_members, curr_members)) {
                    $("#btn_add_members").prop('disabled', true);
                    $("#selected_counts").hide();
                } else {
                    $("#btn_add_members").prop('disabled', false);
                    $("#selected_counter").text(new_members.size);
                    $("#selected_counts").show();
                }
            });
        });
    </script>
{% endblock %}