{% extends 'virtualhost/user_tabs.html' %}

{% block title %}Security for {{ curr_user }}{% endblock %}

{% block tab_content %}
<div class="tab-pane fade show active">
    <form method="post" action="{% url 'virtualhost:user-security' curr_user.id %}">
        {% csrf_token %}

        {% with form.password as field %}
            {% include 'include/input_field.html' %}
        {% endwith %}
        {% with form.confirm_password as field %}
            {% include 'include/input_field.html' %}
        {% endwith %}

        {% for error in form.non_field_errors %}
            <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 non-field-error">
                    {{ error }}
                </div>
            </div>
         {% endfor %}

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Change password</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}