{% extends 'virtualhost/user_tabs.html' %}

{% block title %}vCard for {{ curr_user }}{% endblock %}

{% block tab_content %}
    <div class="tab-pane fade show active">
        {% if auth_backend.is_sql %}
        <form method="post" action="{% url 'virtualhost:user-vcard' curr_user.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% with form.username as field %}
                {% include 'include/input_field.html' %}
            {% endwith %}
            {% with form.host as field %}
                {% include 'include/input_field.html' %}
            {% endwith %}
            {% with form.nickname as field %}
                {% include 'include/input_field.html' %}
            {% endwith %}
            {% with form.first_name as field %}
                {% include 'include/input_field.html' %}
            {% endwith %}
            {% with form.last_name as field %}
                {% include 'include/input_field.html' %}
            {% endwith %}
            <!--{% with form.photo as field %}-->
                <!--{% include 'include/input_file_field.html' %}-->
            <!--{% endwith %}-->

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary">Edit vcard</button>
                </div>
            </div>
        </form>
        {% else %}
        <div class="row no-gutters">
            <div class="col-sm-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td width="30%" style="border-top: none;">Nickname:</td>
                            <td style="border-top: none;">{% if curr_user.nickname %}{{ curr_user.nickname }}{% else %}--{% endif %}</td>
                        </tr>
                        <tr>
                            <td>First name:</td>
                            <td>{% if curr_user.first_name %}{{ curr_user.first_name }}{% else %}--{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Last name:</td>
                            <td>{% if curr_user.last_name %}{{ curr_user.last_name }}{% else %}--{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}