{% extends 'base.html' %}
{% load xmppserverui_tags %}
{% block title %}{{ curr_user }}{% endblock %}

{% block main_content %}
{% check_user_perms 'virtualhost.change_user' as virtualhost_change_user_perm %}
{% check_user_perms 'virtualhost.change_userpassword' as virtualhost_change_user_password_perm %}
{% check_user_perms 'virtualhost.view_group' as virtualhost_view_group_perm %}
{% check_user_perms 'is_admin' as change_perms_perm %}
{% check_user_perms 'virtualhost.change_group' as virtualhost_change_group_perm %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col breadcrumbs">
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">
                        <h1>
                            <a href="{% url 'virtualhost:users' %}">Users</a>
                        </h1>
                    </li>
                    <li class="list-group-item grey">
                        <i class="mdi mdi-24px mdi-chevron-right"></i>
                    </li>
                    <li class="list-group-item"><h1>{{ curr_user }}</h1></li>
                    <li class="list-group-item"><div class="divider"></div></li>
                    <li class="list-group-item"><h4>Active</h4></li>
                </ul>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'user-details' %} active{% endif %}"
                           href="{% url 'virtualhost:user-details' curr_user.id %}">Details</a>
                    </li>
                    {% if virtualhost_change_user_perm %}
                    <li class="nav-item">
                        <a class="nav-link{% if active_tab == 'user-vcard' %} active{% endif %}"
                           href="{% url 'virtualhost:user-vcard' curr_user.id %}">vCard</a>
                    </li>
                        {% if curr_user.allowed_change_password and virtualhost_change_user_password_perm %}
                            {% if curr_user.is_admin and not auth_user.is_admin %}
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link{% if active_tab == 'user-security' %} active{% endif %}"
                                       href="{% url 'virtualhost:user-security' curr_user.id %}">Security</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if virtualhost_view_group_perm and virtualhost_change_group_perm %}
                            <li class="nav-item">
                                <a class="nav-link{% if active_tab == 'user-groups' %} active{% endif %}"
                                   href="{% url 'virtualhost:user-groups' curr_user.id %}">Circles</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if change_perms_perm and not curr_user.is_admin %}
                        <li class="nav-item">
                            <a class="nav-link{% if active_tab == 'user-permissions' %} active{% endif %}"
                               href="{% url 'virtualhost:user-permissions' curr_user.id %}">Permissions</a>
                        </li>
                    {% endif %}
                </ul>

                <div class="tab-content">
                    {% block tab_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}