{% extends 'base.html' %}
{% load xmppserverui_tags %}

{% block title %}Users{% endblock %}

{% block main_content %}
{% check_user_perms 'virtualhost.change_user' as virtualhost_edit_user_perm %}
{% check_user_perms 'virtualhost.delete_user' as virtualhost_delete_user_perm %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col breadcrumbs">
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item"><h1>Users</h1></li>
                    <li class="list-group-item"><div class="divider"></div></li>
                    <li class="list-group-item"><h4>{{ title }} users </h4></li>
                    {% if auth_user.is_admin %}
                    <li class="list-group-item right-btn">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle"
                                    type="button" id="dropdown-vhost"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                {{ vhosts.0 }}
                            </button>
                            <div class="dropdown-menu"
                                   aria-labelledby="dropdown-vhost">
                                {% for vhost in vhosts %}
                                    <a class="dropdown-item" href="#">{{ vhost }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Name</th>
                            <th scope="col">Created/Expires</th>
                            <th scope="col">Auth backend</th>
                            <th scope="col">Status</th>
                            {% if virtualhost_edit_user_perm or virtualhost_delete_user_perm %}
                                <th scope="col">Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in data %}
                            <tr>
                                <td class="table-data">
                                    {% if obj.user.photo %}
                                        <img class="user-avatar-preview" src="{{ obj.photo.url }}" />
                                    {% else %}
                                        {% if obj.user %}
                                            <p class="user-avatar-preview-p" data-letters="{% get_user_initials obj.user %}"></p>
                                        {% else %}
                                            <p class="user-avatar-preview-p" data-letters="{% get_user_initials obj.username %}"></p>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="table-data">
                                    {% if obj.user.id %}
                                    <a href="{% url 'virtualhost:user-details' obj.user.id %}">
                                        {{ obj.user.username }}
                                    </a>
                                    {% else %}
                                        {{ obj.username }}
                                    {% endif %}
                                </td>
                                <td class="table-data">
                                    {% if obj.user.first_name and obj.user.last_name %}
                                        {{ obj.user.first_name }} {{ obj.user.last_name }}
                                    {% endif %}
                                </td>
                                <td class="table-data date">{% if obj.user.created %}{{ obj.user.created|pretty_date }}{% endif %}/<br>
                                {% if not obj.user.expires %}Never{%else%}{{obj.user.expires|pretty_date }}{%endif%}</td>
                                <td class="table-data date">{{ obj.user.get_auth_backend_display }}</td>
                                {% if obj.user.is_active %}
                                <td class="table-data date" style="color:green;">Active</td>
                                {% else %}
                                <td class="table-data date" style="color:red;">Blocked</td>
                                {%endif%}
                                <td class="table-data dots-menu">
                                    {% if virtualhost_edit_user_perm or virtualhost_delete_user_perm %}
                                    {% if obj.user.id %}
                                        <div class="btn-group dropleft">
                                            <i class="mdi mdi-24px mdi-dots-vertical" role="button"
                                               id="dropdown-user-actions" data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                            </i>
                                                <div class="dropdown-menu"
                                                      aria-labelledby="dropdown-user-actions-2">
                                                    {% if virtualhost_edit_user_perm %}
                                                        <a class="dropdown-item" href="{% url 'virtualhost:user-vcard' obj.user.id %}">
                                                            Edit vcard
                                                        </a>
                                                    {% endif %}
                                                    {% if obj.user.allowed_delete and virtualhost_delete_user_perm %}
                                                        <a class="dropdown-item" href="{% url 'virtualhost:user-delete' obj.user.id %}">
                                                            Delete user
                                                        </a>
                                                    {%endif%}
                                                    {% if virtualhost_edit_user_perm %}
                                                        {%if obj.user.is_active %}
                                                        <a class="dropdown-item" href="{% url 'virtualhost:user-block' obj.user.id %}">
                                                            Block user
                                                        </a>
                                                        {%else%}
                                                        <a class="dropdown-item" href="{% url 'virtualhost:user-unblock' obj.user.id %}">
                                                            Unblock user
                                                        </a>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if virtualhost_edit_user_perm %}
                                                        <a class="dropdown-item" href="{% url 'virtualhost:user-expire' obj.user.id %}">
                                                            Set expire
                                                        </a>
                                                    {% endif %}
                                                </div>
                                        </div>
                                    {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'include/pagination.html' %}

    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            let curr_vhost = $.cookie("vhost");
            $("#dropdown-vhost").text(curr_vhost);

            $(".dropdown-menu[aria-labelledby='dropdown-vhost'] a").click(function() {
                $.cookie("vhost", $(this).text(), {expires : 30, path: '/'});
                location.reload();
            });
        });
    </script>
{% endblock %}