{% extends 'base.html' %}

{% block title %}New user created{% endblock %}

{% block main_content %}
    <div class="container">

        <div class="row no-gutters">
            <div class="col breadcrumbs">
                <ul class="list-group list-group-flush list-group-horizontal">
                    <li class="list-group-item">
                        <h1>
                            <a href="{% url 'virtualhost:users' %}">Users</a>
                        </h1>
                    </li>
                    <li class="list-group-item grey">
                        <i class="mdi mdi-24px mdi-chevron-right"></i>
                    </li>
                    <li class="list-group-item"><h1>{{ new_user }}</h1></li>
                    <li class="list-group-item"><div class="divider"></div></li>
                    <li class="list-group-item"><h4>New!</h4></li>
                </ul>
            </div>
        </div>


        <div class="row no-gutters">
            <div class="col success-message">
                New user created!
                <div class="btn-set">
                    <form target="_blank" method="post" action="{% url 'virtualhost:user-instruction' new_user.id %}">
                        <a href="{% url 'virtualhost:user-details' new_user.id %}"><button type="button" class="btn btn-primary">View details</button></a>
                        {% csrf_token %}
                        {% if user_pass %}
                            <input type="hidden" name="password" value="{{ user_pass }}">
                        {% endif %}
                        <button type="submit" class="btn btn-custom-blue">Print instructions</button>
                    </form>
{#                    <button type="button" class="btn btn-custom-yellow">Email instructions</button>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function closePrint () {
      document.body.removeChild(this.__container__);
    }

    function setPrint () {
      this.contentWindow.__container__ = this;
      this.contentWindow.onbeforeunload = closePrint;
      this.contentWindow.onafterprint = closePrint;
      {#this.contentWindow.focus(); // Required for IE#}
      this.contentWindow.print();
    }

    function printPage (sURL) {
      var oHiddFrame = document.createElement("iframe");
      oHiddFrame.onload = setPrint;
      oHiddFrame.style.position = "fixed";
      oHiddFrame.style.right = "0";
      oHiddFrame.style.bottom = "0";
      oHiddFrame.style.width = "0";
      oHiddFrame.style.height = "0";
      oHiddFrame.style.border = "0";
      oHiddFrame.src = sURL;
      document.body.appendChild(oHiddFrame);
    }
</script>
{% endblock %}