<div class="form-group
            {% if field.errors %} invalid{% endif %}
            {% if field.is_hidden %} hidden{% endif %}">
    <label for="{{ field.id_for_label }}" class="col-form-label">
        {{ field.label }}
    </label>
    <div class="input-group mb-3">
        {{ field }}
        <div class="input-group-append">
            <span class="input-group-text">@</span>
            <span class="input-group-text" id="basic-addon2">{{ xmpp_host_value }}</span>
        </div>
    </div>
    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    <div class="invalid-feedback d-block">
        {% for field_error in field.errors %}{{ field_error }} {% endfor %}
    </div>
</div>
